[submodule "bin"]
	path = bin
	url = https://github.com/infertux/bin-scripts.git
	ignore = dirty

[submodule "vim-plugin-ale"]
	path = .vim/pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim-plugin-caddyfile"]
	path = .vim/pack/plugins/start/caddyfile
	url = https://github.com/isobit/vim-caddyfile.git
[submodule "vim-plugin-completor"]
	path = .vim/pack/plugins/start/completor
	url = https://github.com/maralla/completor.vim.git
[submodule "vim-plugin-css-color"]
	path = .vim/pack/plugins/start/css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "vim-plugin-dispatch"]
	path = .vim/pack/plugins/start/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim-plugin-elm"]
	path = .vim/pack/plugins/start/elm
	url = https://github.com/ElmCast/elm-vim.git
[submodule "vim-plugin-easymotion"]
	path = .vim/pack/plugins/start/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vim-plugin-file-line"]
	path = .vim/pack/plugins/start/file-line
	url = https://github.com/bogado/file-line.git
[submodule "vim-plugin-fugitive"]
	path = .vim/pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-plugin-gitgutter"]
	path = .vim/pack/plugins/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim-plugin-go"]
	path = .vim/pack/plugins/start/go
	url = https://github.com/fatih/vim-go.git
[submodule "vim-plugin-nerdcommenter"]
	path = .vim/pack/plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim-plugin-nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-plugin-solarized"]
	path = .vim/pack/plugins/start/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim-plugin-surround"]
	path = .vim/pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-plugin-tagbar"]
	path = .vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git

[submodule "zsh-git-prompt"]
	path = .zsh/git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule "zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
