*
!/.*
*.orig
*.swp
/.ICEauthority
/.NERDTreeBookmarks
/.Xauthority
/.apvlvinfo
/.babel.json
/.bash_history
/.bash_profile
/.bashrc
/.cache/
/.csshrc
/.eaglerc
/.esd_auth
/.gconf/
/.grl-bookmarks
/.grl-metadata-store
/.grl-podcasts
/.gtk-bookmarks
/.guard_history
/.history
/.i3status.conf
/.imsettings.log
/.irb-history
/.irb[-_]history
/.java/
/.lesshst
/.mysql_history
/.netrc
/.npmrc
/.nvidia-settings-rc
/.octave_hist
/.pgadmin3
/.pgpass
/.pry_history
/.psql_history
/.pulse-cookie
/.python_history
/.pythonhist
/.recently-used
/.rediscli_history
/.repo_.gitconfig.json
/.rnd
/.rubinius_last_error
/.rvm/
/.sqlite_history
/.ssh*
/.ssh/
/.subversion/
/.transifexrc
/.v8flags.*.json
/.vim/.netrwhist
/.viminfo
/.viminfo.tmp
/.wavemonrc
/.wget-hsts
/.wireshark/
/.xinitrc
/.xprofile
/.xscreensaver
/.xsession-errors
/.xsession-errors.old
/.zcompdump
/.zlogin
/.zshrc.local
