/.*[_-]history
/.ICEauthority
/.NERDTreeBookmarks
/.Xauthority
/.android/
/.apvlvinfo
/.babel.json
/.bash_*
/.bashrc
/.berkshelf/
/.bundle/cache/
/.cache/
/.cargo/registry/
/.chef/
/.chefdk/cache/
/.config/dconf/
/.config/gconf/
/.config/libreoffice/
/.config/mimeapps.list
/.config/pulse/
/.config/transmission/
/.config/weboob/
/.config/wireshark/recent*
/.csshrc
/.docker/
/.eaglerc
/.elm/
/.esd_auth
/.gem/
/.gnupg/
/.grl-bookmarks
/.grl-metadata-store
/.grl-podcasts
/.gtk-bookmarks
/.history
/.i3status.conf
/.icedove/
/.imsettings.log
/.java/
/.lesshst
/.local/share/
/.mozilla/
/.netrc
/.node-gyp/
/.npm/
/.nvidia-settings-rc
/.nvm/
/.octave_hist
/.pgadmin3
/.pgpass
/.pulse-cookie
/.pythonhist
/.recently-used
/.repo_.gitconfig.json
/.rnd
/.rubinius_last_error
/.rustup/
/.rvm/
/.ssh*
/.ssh/
/.subversion/
/.sudo_as_admin_successful
/.thunderbird/
/.tox/
/.transifexrc
/.v8flags.*.json
/.vagrant.d/
/.vim/.netrwhist
/.vim/undodir/
/.vim/view/
/.viminfo
/.viminfo.tmp
/.vimperator/
/.wavemonrc
/.wget-hsts
/.wireshark/
/.xinitrc
/.xprofile
/.xscreensaver
/.xsession-errors
/.xsession-errors.old
/.yarnrc
/.zcompdump
/.zlogin
/.zsh_cache/
/.zshrc.local
/Downloads/
/Music/
/dev/
/go/
/sway.log
