*
!.*
.apvlvinfo
.bash_history
.cache/
.config/
!.config/wmfs/
.gconf/
.history
.irb-history
.lesshst
.pulse-cookie
.recently-used
.rnd
.rvm/
.sqlite_history
.ssh/
.subversion/
.viminfo
.vim/.netrwhist
!.vim/bundle/
.wireshark/
.Xauthority
.xinitrc
.xscreensaver
.zcompdump
.zshrc.local
