[user]
	name = Infertux
	email = infertux@infertux.com
[alias]
	addrm = add -u
	br = branch
	ci = commit
	co = checkout
	st = status -s
	staged = diff --cached
	unstage = reset HEAD --
	ignored = ls-files --others
	oneline = log --oneline --decorate
	last = log --oneline -1 HEAD
	out = log --oneline origin/master..HEAD
	wdiff = diff --color-words
	info = remote -v
	up = !git stash && git pull && git stash pop
	ll = log --pretty=oneline --abbrev-commit --max-count=15
	thanks = !git-thanks
[color]
	ui = auto
[merge]
	tool = vimdiff
[diff]
	renames = copies
	mnemonicprefix = true
