[user]
	name = Infertux
	email = infertux@infertux.com
[alias]
	addrm = add -u
	br = branch
	ci = commit
	co = checkout
	st = status -s
	staged = diff --cached
	unstage = reset HEAD --
	ignored = ls-files --others
	oneline = log --oneline --decorate
	last = log --oneline -1 HEAD
	out = log --oneline origin/master..HEAD
	wdiff = diff --color-words
	info = remote -v
	up = !git stash && git pull && git stash pop
	ll = log --pretty=oneline --abbrev-commit --max-count=15
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lp = log -p
	thanks = shortlog -sne
	diff-empty = diff 4b825dc642cb6eb9a060e54bf8d69288fbee4904
[color]
	ui = auto
[merge]
	tool = meld
[diff]
	renames = copies
	mnemonicprefix = true
[branch]
	autosetuprebase = always
[color "diff"]
	whitespace = yellow reverse
[push]
	default = tracking
